<form id="sign-up-form" action="">
  <ul>
    <li>
      {{t 'users.sign_up.email' }} <input name="email" type="email" placeholder="{{t 'users.sign_up.email_placeholder' }}" >
    </li>
    <li>
      {{t 'users.sign_up.first_name' }} <input name="first_name" type="text" placeholder="{{t 'users.sign_up.first_name_placeholder' }}" >
    </li>
    <li>
      {{t 'users.sign_up.last_name' }} <input name="last_name" type="text" placeholder="{{t 'users.sign_up.last_name_placeholder' }}" >
    </li>
    <li>
      {{t 'users.sign_up.dob' }} <input name="dob" type="date" placeholder="{{t 'users.sign_up.dob_name_placeholder' }}" >
    </li>
    <li>
      {{t 'users.sign_up.password' }} <input name="password" type="password" placeholder="{{t 'users.sign_up.password_placeholder' }}" >
    </li>
    <li>
      {{t 'users.sign_up.password_confirmation' }} <input name="password_confirmation" type="password" placeholder="{{t 'users.sign_up.password_confirmation_placeholder' }}" >
    </li>
  </ul>

  <input type="submit" value="{{t 'users.sign_up.submit' }}">
</form>
