<form id="sign-in-form" action="">
  <ul>
    <li>
      {{t 'users.sign_in.email' }} <input name="email" type="email" placeholder="{{t 'users.sign_in.email_placeholder' }}" >
    </li>
    <li>
      {{t 'users.sign_in.password' }} <input name="password" type="password" placeholder="{{t 'users.sign_in.password_placeholder' }}" >
    </li>
  </ul>

  <input type="submit" value="{{t 'users.sign_in.submit' }}">
</form>
